[submodule "src/syropod_highlevel_controller"]
	path = src/syropod_highlevel_controller
	url = https://github.com/csiro-robotics/syropod_highlevel_controller.git
[submodule "src/syropod_remote"]
	path = src/syropod_remote
	url = https://github.com/csiro-robotics/syropod_remote
