<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true" />
  </include>

  <node name="send_to_adafruit" pkg="ophelia_description" type="send_to_adafruit.py" args="$(find ophelia_description)/script/offset.yaml" output="screen" />
</launch>
